.f1 {
  font-family: Georgia, serif;
  font-size: 70px;
  margin: 0;
  padding:0;
  font-weight: normal;
}
.div1{
    border: 2px solid black;
}
.center {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  margin:auto;
  justify-content: center;
  width:58%
}

li {
  float: left;
  font-style: italic;
  margin: auto
}

li a {
  display: block;
  color: #7c7c7c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
}

li a.active {
  color: black;
}

.iconImg{
    width:35px;
    height:35px;
    padding-left:10px;
    padding-right:15px;
}