body {
  height: 100%;

}

.bg {
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Form Styles */

#contact-form {
   background-color:rgba(176, 174, 174, 0.3);
   backdrop-filter: blur(4px);
   padding: 20px 20px 20px 20px;
   margin:auto;
   border-radius:15px;
   width: 600px
}
#contact-form h1{
    color:white;
    margin:auto;
    text-align: center;
    border-bottom: 1px solid white;
    font-weight: normal;
    padding-bottom:5px;
}
#contact-form input,
#contact-form select {
   font-size: 15px;
   font-family: Arial, san-serif;
   color:white;
   background: none;
   border: 1px solid white;
   border-radius: 7px;
   margin-bottom: 10px;
   margin-top:5px;
   height:20px;
   padding:5px 10px 5px 10px;
}

#contact-form option {
    background: black;
}

#contact-form label {
   font-size: 15px;
   margin-bottom: 2px;
   font-family: Arial, san-serif;
   color:lightblue;
}

#contact-form #search {
   border:none;
   background:#f27506;
   color:white;
   margin:0 0 5px;
   padding:10px;
   border-radius:10px;
   width: 100px;
   height: 48px;
   box-shadow:0 4px 0px 0px #db4307;
}
#contact-form #search:hover {
   background:#ffa04b;
}

#contact-form #clear {
   border:none;
   background:#586ca4;
   color:white;
   margin:0 0 5px;
   padding:10px;
   border-radius:10px;
   width: 90px;
   height: 48px;
   box-shadow:0 4px 0px 0px #404c74;
}
#contact-form #clear:hover {
   background:#6e81b7;;
}

.formbold-input-flex {
    display: flex;
    gap: 10px;
}
.formbold-input-flex > div {
    width: 50%;
}
.formbold-form-label {
      display: block;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  margin:0px;
}
a{
color:black
}

a:active{
  color:purple;
}